{% extends 'landing.html' %}
{% load i18n %}
{% load static tailwind_tags %}
{% load widget_tweaks %}


{#<main id="page-content" class="flex max-w-full flex-auto flex-col">#}
{% block content %}
    <!-- Sign In Section -->


    <!-- Header -->
    <header class="mb-8 text-center">
        <h1 class="mb-2 text-xl font-extrabold">
            Sign in to your dashboard
        </h1>
        <h2
                class="text-sm font-medium text-gray-500 dark:text-gray-400"
        >
            Don't have an account yet?
            <form id="signup-form" method="get" action="{% url 'signup' %}">
                {% csrf_token %}
                <button
                        type="submit"
                        role="menuitem"
                        class="group flex w-full items-center gap-2.5 rounded-lg px-2.5 text-left text-sm font-medium hover:bg-gray-100/60 dark:hover:bg-gray-700/50"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round" aria-hidden="true"
                         class="lucide lucide-user-plus inline-block size-6">
                        <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/>
                        <circle cx="9" cy="7" r="4"/>
                        <line x1="19" x2="19" y1="8" y2="14"/>
                        <line x1="22" x2="16" y1="11" y2="11"/>
                    </svg>

                    {% translate 'SignUp' %}</button>
            </form>
        </h2>
    </header>
    <!-- END Header -->

    <!-- Sign in with email -->

    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="form-control text-error">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% for error in form.non_field_errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <!-- Sign in with email -->
        <div class="space-y-1">
            <label for="email" class="inline-block text-sm font-medium">{% translate 'User' %}</label>
            {% render_field form.username class+="block w-full rounded-lg border border-gray-200 px-3 py-2 leading-6 placeholder-gray-500 focus:border-blue-500 focus:ring-3 focus:ring-blue-500/50 dark:border-gray-700/75 dark:bg-blue-900 dark:placeholder-gray-400 dark:focus:border-blue-500" placeholder="user" %}
        </div>
        <div class="space-y-1">
            <label for="password"
                   class="inline-block text-sm font-medium">{% translate "Password" %}</label>
            {% render_field form.password class+="block w-full rounded-lg border border-gray-200 px-3 py-2 leading-6 placeholder-gray-500 focus:border-blue-500 focus:ring-3 focus:ring-blue-500/50 dark:border-gray-700/75 dark:bg-blue-900 dark:placeholder-gray-400 dark:focus:border-blue-500" placeholder="Mot de passe" %}
        </div>
        <button type="submit"
                class="mt-2 inline-flex w-full items-center justify-center gap-2 rounded-lg border border-blue-700 bg-blue-700 px-6 py-3 leading-6 font-semibold text-white hover:border-blue-600 hover:bg-blue-600 hover:text-white focus:ring-3 focus:ring-blue-400/50 active:border-blue-700 active:bg-blue-700 dark:focus:ring-blue-400/90">
            Log In
        </button>
    </form>
    <!-- END Sign in with email -->


    <!-- END Sign In Section -->

{% endblock %}
<!-- Side Image -->

{#  </main>#}
